{% extends 'base.html' %}
{% block content %}

{% for entry  in  type2rooms %}
       {% if forloop.counter0|divisibleby:2 %}
      <hr class="featurette-divider"></hr>
      <div class="row featurette">
        <hr class="featurette-divider"></hr>
          <div class="col-md-7 col-md-push-5">

            <h2 class="featurette-heading">{{entry.title}} <span class="text-muted"></span></h2>
            <p class="lead">{{entry.text}}
          </div>
          <div class="col-md-5 col-md-pull-7">
            {%if entry.photo %} <img class = "featurette-image img-responsive center-block " src="{{entry.photo.url}}">  {% endif %}
          </div><!--close col 7/5-->

      </div><!--close row-->

      {% else %}

       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{entry.title}} <span class="text-muted"></span></h2>
          <p class="lead">{{entry.text}}</p>
        </div>
        <div class="col-md-5">
          {%if entry.photo %}  <img class = "featurette-image img-responsive center-block"  src="{{entry.photo.url}}"></a> {% endif %}
        </div><!--close col5-->
      </div><!--closerow-->

      {%endif%}
      {% endfor %}


{% endblock %}
