body {
    background-color: #eeeeee;
    color: #8f8d8e;
    font-family: 'Raleway', sans-serif;
}
body a {
    color:#E52786;
}

.featurette-image {
    max-height: 350px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.locationimage {
    max-height: 500px;
}
.box-img {
    width: 100%;
    position:relative;
    left: 0px;
    top: 0px;

}
.notices-home {
    float: right;
    font-weight: bold;
    margin-top:4em;
    margin-right:8em;
}

.logoimg {
	max-width: 100px;
	padding: 25px;
}
.supertitle {
    font-size: 54px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top:15px;
/*    color: white;*/
}

.login {
	padding-top: 30px;
    font-size: 25px;
}

.tinymce {
    min-width: 300px;
}

.carouselcontainer {
	height:480px;
	max-height: 480px;
	min-height: 480px;
}
.catimage {
    max-height: 400px;
}

.itembig{
	display:block;
	height:450px;
	max-height: 450px;
	min-height: 450px;
	max-width:100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%; /* use this, or not */
    margin: auto;
}
#id_text{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.quarterbox {
	height: 160px;
	border: solid gray 2px;
	margin:5px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    overflow:hidden;
}
.contentcontainer {
	padding-bottom: 20px;
    min-height: 400px;
}
.kitten {
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top:1em;
  margin-bottom:auto;
  min-height:500px;
  max-height: 500px;
  padding:1em;
  overflow: hidden;
}
/*qna page*/
.questionpost {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-radius: 5px;
    margin:1em;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
.comment {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}
.footercontainer {
	height:20px;
}
.minicarousel {
    margin-bottom: 1em;
    margin-top: 1em;
    }

@media(max-width: 640px) {
    .title-super {
        font-size: 1.2em;
        padding-bottom: .5em;
    }

    .title-super2 {
        font-size: 1em;
    }

    .supertitle {
        font-size: 25px;
    }
    .item {
    	max-height: 180px;
    	max-height: 180px;
    	min-height: 180px;
    }
    .kitten {
        min-height:350px;
        max-height: 350px;
        width:100%;
        overflow:hidden;
    }
    .kitten > h3 {
        font-size: 15px;
    }
    .login {
        font-size: 15px;
        padding: 0px;
    }
    .carouselcontainer {
        height:180px;
        max-height: 180px;
        min-height:180px;
    }
    .quarterbox {
        padding: 3px;
        overflow: hidden;
    }
    .quarterbox > h3 {
        font-size: 20px;
    }
    .quarterbox > h1 {
        font-size: 30px;
    }
    .contentcontainer {
        min-height: 300px;
        }
    .catimage {
        height: 180px;
        max-height: 180px;
        min-height: 180px;
    }
    .hotelimage {
        height: 180px;
        max-height: 180px;
        min-height: 180px;
    }

    .logoimg {
        max-width: 100px;
        padding: 5px;
    }
    .subtitle {
        font-size: 1em;
    }
    #id_text{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .minicarousel {
    margin-bottom: 1em;
    margin-top: 1em;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning*/
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .navbar1 .navbar-wrapper .navbar2 {
        padding-right: 0;
        padding-left: 0;
    }

    .subtitle {
        font-size: 1em;

    }

}

